# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Artifacts / runs
checkpoints/
runs/
outputs/
*.pt
*.pth
config.json
*.log

# Data (обычно не коммитим)
data/
*.nrrd
